EasyExcelDemo/src/main/java/webservice/service/pmsStandardLogisticsSyn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://pms.changan.com.cn" xmlns:ax27="http://po.webservices.pms.changan.com.cn/xsd" xmlns:ax28="http://bean.po3.infoservice.com/xsd" xmlns:ax211="http://vo.webservices.pms.changan.com.cn/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://pms.changan.com.cn">
    <wsdl:documentation>pmsStandardLogisticsSyn</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://bean.po3.infoservice.com/xsd">
            <xs:complexType name="PO">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.webservices.pms.changan.com.cn/xsd">
            <xs:complexType name="PmsAddTrackDataListVo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="reasonList" nillable="true" type="ax211:PmsAddTrackDataVo"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PmsAddTrackDataVo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="operationDate" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax29="http://bean.po3.infoservice.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://po.webservices.pms.changan.com.cn/xsd">
            <xs:import namespace="http://bean.po3.infoservice.com/xsd"/>
            <xs:import namespace="http://bean.po3.infoservice.com/xsd"/>
            <xs:complexType name="TrackPO">
                <xs:complexContent>
                    <xs:extension base="ax29:PO">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="arrivalEstimatedTime" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="cartonNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="comeFrom" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="descr" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="goodsNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="goodsVolume" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="goodsWeight" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="operationDate" nillable="true" type="xs:date"/>
                            <xs:element minOccurs="0" name="operationInstructions" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="operatorName" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="operatorPhone" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="pmsNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="provincesCounties" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="putForwardWay" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="receiptCity" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="sendCity" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="sender" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="toStore" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="trackingNumber" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="transportWay" nillable="true" type="xs:string"/>
                            <xs:element minOccurs="0" name="waybill" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax210="http://po.webservices.pms.changan.com.cn/xsd" xmlns:ax212="http://vo.webservices.pms.changan.com.cn/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pms.changan.com.cn">
            <xs:import namespace="http://po.webservices.pms.changan.com.cn/xsd"/>
            <xs:import namespace="http://vo.webservices.pms.changan.com.cn/xsd"/>
            <xs:element name="pmsStandardLogisticsSynException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pmsStandardLogisticsSynException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTrackDataList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logisticsCarriers" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginUserName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="trackDataList" nillable="true" type="ax27:TrackPO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTrackDataListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:PmsAddTrackDataListVo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTrackData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logisticsCarriers" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="loginUserName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="trackPO" nillable="true" type="ax27:TrackPO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTrackDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:PmsAddTrackDataVo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addTrackDataListRequest">
        <wsdl:part name="parameters" element="ns:addTrackDataList"/>
    </wsdl:message>
    <wsdl:message name="addTrackDataListResponse">
        <wsdl:part name="parameters" element="ns:addTrackDataListResponse"/>
    </wsdl:message>
    <wsdl:message name="pmsStandardLogisticsSynException">
        <wsdl:part name="parameters" element="ns:pmsStandardLogisticsSynException"/>
    </wsdl:message>
    <wsdl:message name="getKeyRequest">
        <wsdl:part name="parameters" element="ns:getKey"/>
    </wsdl:message>
    <wsdl:message name="getKeyResponse">
        <wsdl:part name="parameters" element="ns:getKeyResponse"/>
    </wsdl:message>
    <wsdl:message name="addTrackDataRequest">
        <wsdl:part name="parameters" element="ns:addTrackData"/>
    </wsdl:message>
    <wsdl:message name="addTrackDataResponse">
        <wsdl:part name="parameters" element="ns:addTrackDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="pmsStandardLogisticsSynPortType">
        <wsdl:operation name="addTrackDataList">
            <wsdl:input message="ns:addTrackDataListRequest" wsaw:Action="urn:addTrackDataList"/>
            <wsdl:output message="ns:addTrackDataListResponse" wsaw:Action="urn:addTrackDataListResponse"/>
            <wsdl:fault message="ns:pmsStandardLogisticsSynException" name="pmsStandardLogisticsSynException" wsaw:Action="urn:addTrackDataListpmsStandardLogisticsSynException"/>
        </wsdl:operation>
        <wsdl:operation name="getKey">
            <wsdl:input message="ns:getKeyRequest" wsaw:Action="urn:getKey"/>
            <wsdl:output message="ns:getKeyResponse" wsaw:Action="urn:getKeyResponse"/>
            <wsdl:fault message="ns:pmsStandardLogisticsSynException" name="pmsStandardLogisticsSynException" wsaw:Action="urn:getKeypmsStandardLogisticsSynException"/>
        </wsdl:operation>
        <wsdl:operation name="addTrackData">
            <wsdl:input message="ns:addTrackDataRequest" wsaw:Action="urn:addTrackData"/>
            <wsdl:output message="ns:addTrackDataResponse" wsaw:Action="urn:addTrackDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="pmsStandardLogisticsSynSoap11Binding" type="ns:pmsStandardLogisticsSynPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addTrackDataList">
            <soap:operation soapAction="urn:addTrackDataList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException">
                <soap:fault use="literal" name="pmsStandardLogisticsSynException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKey">
            <soap:operation soapAction="urn:getKey" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException">
                <soap:fault use="literal" name="pmsStandardLogisticsSynException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrackData">
            <soap:operation soapAction="urn:addTrackData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="pmsStandardLogisticsSynSoap12Binding" type="ns:pmsStandardLogisticsSynPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addTrackDataList">
            <soap12:operation soapAction="urn:addTrackDataList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException">
                <soap12:fault use="literal" name="pmsStandardLogisticsSynException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getKey">
            <soap12:operation soapAction="urn:getKey" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException">
                <soap12:fault use="literal" name="pmsStandardLogisticsSynException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTrackData">
            <soap12:operation soapAction="urn:addTrackData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="pmsStandardLogisticsSynHttpBinding" type="ns:pmsStandardLogisticsSynPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addTrackDataList">
            <http:operation location="addTrackDataList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException"/>
        </wsdl:operation>
        <wsdl:operation name="getKey">
            <http:operation location="getKey"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
            <wsdl:fault name="pmsStandardLogisticsSynException"/>
        </wsdl:operation>
        <wsdl:operation name="addTrackData">
            <http:operation location="addTrackData"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="pmsStandardLogisticsSyn">
        <wsdl:port name="pmsStandardLogisticsSynHttpSoap11Endpoint" binding="ns:pmsStandardLogisticsSynSoap11Binding">
            <soap:address location="http://183.66.200.161:12090/TESTPMS/service/pmsStandardLogisticsSyn.pmsStandardLogisticsSynHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="pmsStandardLogisticsSynHttpSoap12Endpoint" binding="ns:pmsStandardLogisticsSynSoap12Binding">
            <soap12:address location="http://183.66.200.161:12090/TESTPMS/service/pmsStandardLogisticsSyn.pmsStandardLogisticsSynHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="pmsStandardLogisticsSynHttpEndpoint" binding="ns:pmsStandardLogisticsSynHttpBinding">
            <http:address location="http://183.66.200.161:12090/TESTPMS/service/pmsStandardLogisticsSyn.pmsStandardLogisticsSynHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
